@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example app for ASP.NET Core using EF Core for data storage and Serilog for logging.</p>
    <p>Base functionality is creating, retrieving, updating and deleting "items" in database with forms</p>
    @foreach (var s in Model.Items)
    {
        @s.Name<br />
    }
    <img src="resources/duck.png" />
</div>
